button{
    background-color: hsl(211, 72%, 70%);
    border-radius: 5px;
    font-size:1.5em;
    color:white;
}

button:hover{
    background-color: rgb(101, 101, 255);
}

div{
    display:block;
    height: 100px;
    width: 150px;
    border: 2px solid black;
}