#chestWorkouts{


    font-size: 2em;
    margin-top: 2em;
    box-shadow: 2px 2px 2px 2pxs gray;
    border-radius: 3px;
    margin: 200px ;
    margin-top: 120px;
    width:1200px;
    border-color: gray;
    border:3px;
    text-align: center;
}

#header{
  text-align: center; 
  font-size: 1.5 em; 
}